<!-- CDN -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/52cc99a7a6.js"
      crossorigin="anonymous"
    ></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjMf65LdtNLc4KUTTRaMywyC_E1SKR9kE&libraries=places&callback=initAutocomplete" async defer>
    </script>