<!-- Footer -->
<footer>
  <div class="container">
    <div class="row d-c" id="footerAppStore">
      <div class="col-lg-5">
        <img src="/img/omniX_logo_white_transparent_EWC.webp" alt="omniX Logo" class="img-fluid img-footer"/>
        <p>
          <a href="mailto:info@omnixlabs.com" class="fa fa-envelope">info@omnixlabs.com</a>
        </p>
        <div class="social-icons" style="margin-bottom: 25px;">
          <p>
            <a href="https://www.linkedin.com/company/omnixlabs/" class="fa fa-linkedin" target="_blank"></a>
            <a href="https://www.youtube.com/channel/UCrlquejpqyZUfljbOyDbvhw" class="fa fa-youtube" target="_blank"></a>
          </p>
        </div>
      </div>
      <div class="col-lg d-c">
        <div class="row">
          <div class="container" style="max-width: 500px;">
            <h5>Privacy notice</h5>
            <p>
              omniX labs does not share personal information of any kind with anyone. We will not sell or rent your name or personal information to any third party. We do not sell, rent or provide outside access to our mailing list or any data we store. Any data that a user stores via our facilities is wholly owned by that user or business.
              <br><br>
              omniX labs only collects such personal information that is necessary for you to access and use our services. This personal information includes, but is not limited to, first and last name, email address
            </p>
          </div>  
        </div>
      </div>
    </div>
    
    <div class="row d-c" id="footerBottom">
      <div class="col-lg">
        <p>
          Copyright © 2024 omniX labs
        </p>
      </div>
      <div class="col-lg">
        OmniX is an <a style="font-size: 100%;"href="http://everwash.com/" target="_blank">EverWash</a> Company
      </div>
      <div class="col-lg">
        <a href="https://calendly.com/everwash-sales/30min" target="_blank">Schedule Info Session</a>
        <a href="/privacy.html">Privacy</a>
        <a href="/terms.html">Terms</a>
        <a href="/industries.html">Industries</a>
      </div>
    </div>
  </div>
</footer>