
{# <div class="article main-article col-lg-12">
    <div class="article-img-container">
        <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt}}" class="img-fluid"/>
    </div>
    <div class="article-content">
        <p class="article-date">{{post.data.date | postDate}}</p>
        <a href="{{ post.url }}" class="article-title">
            <h4>
                {{post.data.title}}
            </h4>
        </a>
        <p class="article-preview">
            {{post.data.description}}
        </p>
    </div>
</div> #}
<div class="article main-article row">
    <div class="col-lg-6 col-md-12">
        <a href="{{ post.url }}">
            <div class="article-img-container">
                <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt}}" class="img-fluid"/>
            </div>
        </a>
    </div>
    <div class="col-lg-1 col-md-12"></div>
    <div class="col-lg-5 col-md-12">
        <div class="article-content">
            <p class="article-date">{{post.data.date | postDate}}</p>
            <a href="{{ post.url }}">
                <h4 class="article-title">
                    {{post.data.title}}
                </h4>
                <p class="article-preview">
                    {{post.data.description}}
                </p>
            </a>
        </div>
    </div>
</div>
