<div class="bot-field">
    <label>
        Don't fill this out if you're human: <input name="bot-field"/>
    </label>
</div>
<div class="input-row grid">
    <div class="input-wrapper">
        <input
            name="email"
            id="email"
            class="form-control"
            type="email"
            required="required"
            placeholder=" "
            aria-label="Enter your email"/>
        <label for="email">Email</label>
    </div>
    <div class="input-wrapper">
        <input
            name="full-name"
            id="fullName"
            class="form-control"
            type="text"
            required="required"
            placeholder=" "
            aria-label="Enter your full name"/>
        <label for="fullNameInput">Full Name</label>
    </div>
</div>
<div class="input-row">
    <div class="input-wrapper">
        <input
            name="your-field-of-activity"
            id="yourActivity"
            class="form-control"
            type="text"
            required="required"
            placeholder=" "
            aria-label="Enter your field of activity"/>
        <label for="yourActivity">Your Field Of Activity</label>
    </div>
</div>
<div class="d-c">
    <button class="btn btn-accent btn-large" type="submit">
        Send Message
    </button>
</div>
