<div class="bot-field">
    <label>
        Don't fill this out if you're human: <input name="bot-field"/>
    </label>
</div>

{# <div class="input-row grid">
    <div class="input-wrapper">
        <input
            name="email"
            id="email"
            class="form-control"
            type="email"
            required="required"
            placeholder=" "
            aria-label="Enter your email"/>
        <label for="email">Email</label>
    </div>
    <div class="input-wrapper">
        <input
            name="name"
            id="name"
            class="form-control"
            type="text"
            required="required"
            placeholder=" "
            aria-label="Enter your name"/>
        <label for="name">Name</label>
    </div>
</div> #}

<div class="input-row grid">
    <div class="input-wrapper">
        <input
            name="first-name"
            id="firstname"
            class="form-control"
            type="text"
            required="required"
            placeholder=" "
            aria-label="Enter first name"/>
        <label for="email">First Name</label>
    </div>
    <div class="input-wrapper">
        <input
            name="last-name"
            id="lastname"
            class="form-control"
            type="text"
            required="required"
            placeholder=" "
            aria-label="Enter last name"/>
        <label for="name">Last Name</label>
    </div>
</div>
<div class="input-row grid">
    <div class="input-wrapper">
        <input
            name="company-name"
            id="companyname"
            class="form-control"
            type="text"
            required="required"
            placeholder=" "
            aria-label="Enter company name"/>
        <label for="email">Company Name</label>
    </div>
    <div class="input-wrapper">
        <input
            name="city"
            id="city"
            class="form-control"
            type="text"
            required="required"
            placeholder=" "
            aria-label="Enter city"/>
        <label for="name">City</label>
    </div>
</div>
<div class="input-row grid">
    <div class="input-wrapper">
        <input
            name="State"
            id="state"
            class="form-control"
            type="text"
            required="required"
            placeholder=" "
            aria-label="Enter state"/>
        <label for="email">State</label>
    </div>
    <div class="input-wrapper">
        <input
            name="zip-code"
            id="zipcode"
            class="form-control"
            type="text"
            required="required"
            placeholder=" "
            aria-label="Enter zip code"/>
        <label for="name">Zip Code</label>
    </div>
</div>
<div class="input-row">
    <div class="input-wrapper">
        <select name="industry" id="industry" class="form-control form-select" required="required">
            <option value="" disabled="" selected="">
                Select Industry
            </option>
            <option value="Car Wash">Car Wash</option>
            <option value="Oil Change/Car Care">Oil Change/Car Care</option>
            <option value="Other">Other</option>
        </select>
    </div>
</div>
<div class="d-c">
    <button class="btn btn-accent btn-large" type="submit">
        Send Message
    </button>
</div>
