<div class="bot-field">
    <label>
        Don't fill this out if you're human: <input name="bot-field"/>
    </label>
</div>
<div class="input-row">
    <div class="input-wrapper">
        <input
            name="email"
            id="email"
            class="form-control"
            type="email"
            required="required"
            placeholder=" "
            aria-label="Enter your email"/>
        <label for="email">Email</label>
    </div>
    <div class="input-wrapper">
        <input
            name="name"
            id="name"
            class="form-control"
            type="text"
            required="required"
            placeholder=" "
            aria-label="Enter your name"/>
        <label for="name">Name</label>
    </div>
</div>
<div class="input-row">
    <div class="input-wrapper">
        <textarea
            name="message"
            id="message"
            class="form-control"
            required="required"
            placeholder=" "
            style="overflow: hidden;"
            aria-label="Enter message"/></textarea>
        <label for="message">Message</label>
    </div>
</div>
<div class="d-c">
    <button class="btn btn-accent btn-large" type="submit">
        Send Message
    </button>
</div>
