/************************************ 
*********** FONTS *************
*************************************/
@font-face {
    font-family: "Nunito Sans Bold";
    src: url("font/NunitoSans-Bold.ttf");
  }
  
  @font-face {
    font-family: "Mukta Light";
    src: url("font/Mukta-Light.ttf");
  }
  
  @font-face {
    font-family: "Mukta Medium";
    src: url("font/Mukta-Medium.ttf");
  }
  
  @font-face {
    font-family: "Mukta SemiBold";
    src: url("font/Mukta-SemiBold.ttf");
  }
  @font-face {
    font-family: "Mukta Extra Bold";
    src: url("font/Mukta-ExtraBold.ttf");
  }
  
  /************************************ 
  *********** VARIABLES *************
  *************************************/
  :root {
    --font-family-headings: Nunito Sans Bold;
    --font-family-body: Mukta Light;
    --font-family-nav: Mukta Medium;
    --font-family-nav-bold: Mukta SemiBold;
    --font-family-bold: Mukta Extra Bold;
    --primary: #1e50ff;
    --secondary: #141464;
    --highlight: #00e1e1;
    --accent: #f4f6ff;
    --transparent: transparent;
    --white: #ffffff;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --black: #000000;
    --red: #bf4a46;
    --purple: #6a3bb1;
    --green: #20bda8;
    --orange: #ff9900;
    --yellow: #eff636;
    --gold: #fcf0a2;
    --rgb-primary: 30, 80, 255;
    --rgb-secondary: 20, 20, 100;
    --rgb-highlight: 0, 225, 225;
    --rgb-accent-background: 244, 246, 255;
    --rgb-transparent: transparent;
    --rgb-white: 255, 255, 255;
    --rgb-gray-100: 248, 249, 250;
    --rgb-gray-200: 233, 236, 239;
    --rgb-gray-300: 222, 226, 230;
    --rgb-gray-400: 206, 212, 218;
    --rgb-gray-500: 173, 181, 189;
    --rgb-gray-600: 108, 117, 125;
    --rgb-gray-700: 73, 80, 87;
    --rgb-gray-800: 52, 58, 64;
    --rgb-gray-900: 33, 37, 41;
    --rgb-black: 0, 0, 0;
    --rgb-red: 191, 74, 70;
    --rgb-purple: 106, 59, 177;
    --rgb-green: 32, 189, 168;
    --rgb-orange: 255, 153, 0;
    --rgb-yellow: 239, 246, 54;
    --rgb-gold: 252, 240, 162;
    --article-side-margin: 1rem;
  }

html,
body {
  color: var(--gray-900);
  font-family: var(--font-family-body);
}

body {
  padding: 2.5rem;
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  font-weight: bold;
  letter-spacing: normal;
}

img{
    max-width: 350px;
    height: auto;
    margin: 5% 0 5% 0;
}

p{
    padding: 1% 0 1% 0;
}