---
  title: 404Error | omniX labs
  description: 
  permalink: "{{ page.filePathStem }}.html"
  image: https://omnix-local.netlify.app/img/ox_logo_white_bcg.webp
  sitemap:
    ignore: true
  layout: 'base.njk'
---
    <main>
      <section id="section404">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 d-c">
              <img src="img/car-crash.png" alt="" class="img-fluid" />
            </div>
            <div class="col-lg-6">
              <div>
                <h3 class="brand-blue display-1">404</h3>
                <h4 class="display-4">
                  Oops! Looks like you took a wrong turn.
                </h4>
                <p>We can't seem to find the page you're looking for.</p>
                <a href="index.html">Back to Home</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    
