---
title: "Blog"
description: Discover the latest trends and insights in the car wash industry with the Omnix's blog. From maintenance tips to market analysis, find it all here.
image: https://omnix-local.netlify.app/img/Hero_Illustration_Blue.webp
sitemap:
  priority: 0.8
layout: 'base.njk'
---

<main id="blogMain">
  <!-- Hero Section -->
  <section id="blogHero">
    <div class="container">
      <h1 class="brand-nubolts">OMNIX Blog</h1>
      <h2>Discover Ideas, Stories, & Articles</h2>
      {# Search Form #}
      <div class="article-search-form">
        <div id="search"></div>
      </div>
    </div>
  </section>
  <!-- Blog Articles -->
  <section id="headlinePost">
    <div class="container">
      <h3>The Latest at OMNIX</h3>

      <div class="row article-row">
        {%- for post in collections.blog | reverse -%} {% if loop.index0 < 1 %}
        {% include 'latest-article.njk' %} {% endif %} {%- endfor -%}
      </div>
    </div>
  </section>
  <section id="featuredArticles">
    <div class="container">
      <h2>Featured Stories</h2>
      <div class="row article-row article-no-container">
        {# {%- for post in collections.featured | reverse -%} {%if loop.index0 <
        3 %} {%include 'article-snippet.njk'%} {%endif%} {%- endfor -%} #} {%
        set count = 0 %} {%- for post in collections.featured | reverse -%} {%
        if post.data.tags.includes("blog") and count < 3 %} {% include
        'article-snippet.njk' %} {% set count = count + 1 %} {% endif %} {%-
        endfor -%}
      </div>
    </div>
  </section>
  <section id="allArticles">
    <div class="container on-scroll-animation slide-up">
      <h2>Read More</h2>
      <div class="row article-row article-no-container">
        {%- for post in collections.blog | reverse -%} {% include
        'article-snippet.njk' %} {%- endfor -%}
      </div>
      <button id="showMoreBtn" class="btn">Show More +</button>
      {# Search Form #} {#
      <form id="searchForm" action="/blog/search" method="GET">
        <input type="text" name="q" placeholder="Search..." />
        <button type="submit">Search</button>
      </form>
      #}

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
      <script type="text/javascript">
        algoliasearchNetlify({
          appId: 'CJDA6XE5LC',
          apiKey: 'dc92fc8712601d3f7b32d15f30b8b3c3',
          siteId: '9d34062b-9c68-46fe-a9da-60a2d715faaf',
          branch: 'main',
          selector: 'div#search',
        });
      </script>
    </div>
  </section>
</main>