---
  title: Machine Vision. Data. Insights | omniX labs
  description: 
  permalink: "{{ page.filePathStem }}.html"
  image: https://omnix-local.netlify.app/img/ox_logo_white_bcg.webp
  sitemap:
    priority: 0.64
  layout: 'base.njk' 
---

<main id="omnix-homeBody">
  <!-- Home Hero Section -->
  <section id="leveragingSection">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 img-box">
          <img src="/img/home/home-banner.png" class="img-fluid" />
        </div>
        <div class="col-sm-5 info-box">
          <h3>Leveraging vehicle analytics for your business</h3>
          <h5>Our platform synthesizes the physical interactions of your business and returns real-time insights to boost throughput and revenue.</h5>
          <a href="#" data-toggle="modal" data-target="#contact-omnixModal">Get a Demo</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Understanding Your Challenges Section -->
  <section id="challengesSection">
    <div class="container">
      <div class="row header-content">
        <div class="col-sm-12">
          <h2>Understanding Your Challenges</h2>
          <p>Running an oil change, car wash, or quick service business is demanding. From unpredictable customer flows and staffing inefficiencies to ensuring quality and transparency in every service, the challenges are immense.</p>
          <p>omniX Labs helps transform these challenges into opportunities, making your business more responsive, efficient, and profitable.</p>
        </div>
      </div>
      <div class="row group-box">
        <div class="col-sm-4">
          <div class="img-box">
            <img src="/img/home/oil-change.png" class="img-fluid" />
            <h5>Oil Change</h5>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="img-box">
            <img src="/img/home/car-wash.png" class="img-fluid" />
            <h5>Car Wash</h5>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="img-box">
            <img src="/img/home/other.png" class="img-fluid" />
            <h5>Other</h5>
          </div>
        </div>
      </div>
      <div class="row footer-image">
        <img src="/img/home/challenges-img.png" class="img-fluid" />
      </div>
    </div>  
  </section>

  <!-- How It Works Section -->
  <section id="howitworksSection">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>How It Works</h2>
          <p>It’s nearly impossible to get intelligent visibility on a business’s physical interactions. There are no ‘eyes’ on the business to tell us how you are actually doing in a cost-effective and efficient way.</p>
          <p>omniX Labs integrates with your existing systems, using real-time video data and AI to optimize every aspect of your operations.Our tools analyze customer behavior, predict demand, and provide personalized service recommendations.</p>
          <p>With omniX Labs, you gain a clear path to increased revenue, reduced costs and losses, and improved customer loyalty and satisfaction.</p>
        </div>
      </div>
      <div class="row group-box">
        <div class="col-sm-4">
          <div class="img-box">
            <img src="/img/home/visibility.png" class="img-fluid" />
            <h5>Visibility</h5>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="img-box">
            <img src="/img/home/analytics.png" class="img-fluid" />
            <h5>Analytics</h5>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="img-box">
            <img src="/img/home/deep-learning.png" class="img-fluid" />
            <h5>Deep Learning</h5>
          </div>
        </div>
      </div>
    </div>  
  </section>

  <!-- See Omnix in action Section -->
  <section id="seeomnixSection">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 info-box">
          <h3>See Omnix in action</h3>
          <p>Sign up and schedule a demo. During this quick session, we will show you the power of omniX and its potential for your business.</p>
          <a href="#" data-toggle="modal" data-target="#contact-omnixModal">Get a Demo</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Powered by omniX Section -->
  <section id="poweredbyomnixSection">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>Powered by omniX</h3>
        </div>
      </div>
      <div class="row logos-group">
        <div class="col-lg col-md col-xs partnerLogo changing-img">
          <img src="/img/home/everwash.png" alt="EverWash logo" class="img-fluid">
        </div>
        <div class="col-lg col-md col-xs partnerLogo changing-img">
          <img src="/img/home/oil-changers.png" alt="Oil Changers logo" class="img-fluid">
        </div>
        <div class="col-lg col-md col-xs partnerLogo changing-img">
          <img src="/img/home/carwash.png" alt="CarWash logo" class="img-fluid">
        </div>
        <div class="col-lg col-md col-xs partnerLogo changing-img">
          <img src="/img/home/agile.png" alt="Agile logo" class="img-fluid">
        </div>
        <div class="col-lg col-md col-xs partnerLogo changing-img">
          <img src="/img/home/mint-eco.png" alt="Mint Eco logo" class="img-fluid">
        </div>
        <div class="col-lg col-md col-xs partnerLogo changing-img">
          <img src="/img/home/elephant.png" alt="Elephant logo" class="img-fluid">
        </div>
        <div class="col-lg col-md col-xs partnerLogo changing-img">
          <img src="/img/home/everwash.png" alt="EverWash logo" class="img-fluid">
        </div>
        <div class="col-lg col-md col-xs partnerLogo changing-img">
          <img src="/img/home/oil-changers.png" alt="Oil Changers logo" class="img-fluid">
        </div>
        <div class="col-lg col-md col-xs partnerLogo changing-img">
          <img src="/img/home/carwash.png" alt="CarWash logo" class="img-fluid">
        </div>
        <div class="col-lg col-md col-xs partnerLogo changing-img">
          <img src="/img/home/agile.png" alt="Agile logo" class="img-fluid">
        </div>
        <div class="col-lg col-md col-xs partnerLogo changing-img">
          <img src="/img/home/mint-eco.png" alt="Mint Eco logo" class="img-fluid">
        </div>
        <div class="col-lg col-md col-xs partnerLogo changing-img">
          <img src="/img/home/elephant.png" alt="Elephant logo" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <!-- Blog Section -->
  <section id="homeblogSection">
    <div class="container">
      <div class="row header-content">
        <div class="col-sm-12">
          <h2>Blog</h2>
        </div>
      </div>
      <div class="row article-row article-no-container blog-content">
        {# {%- for post in collections.blog | reverse -%} {%if loop.index0 <
        6 %} {%include 'article-snippet.njk'%} {%endif%} {%- endfor -%} #} {%
        set count = 0 %} {%- for post in collections.blog | reverse -%} {%
        if post.data.tags.includes("blog") and count < 6 %} {% include
        'article-snippet.njk' %} {% set count = count + 1 %} {% endif %} {%-
        endfor -%}
      </div>
      <div class="row footer-image">
        <img src="/img/home/blog-bottom-img.png" class="img-fluid" />
      </div>
    </div>  
  </section>
  
</main>
