---
  title: Machine Vision. Data. Insights | omniX labs
  description: 
  permalink: "{{ page.filePathStem }}.html"
  image: https://omnix-local.netlify.app/img/ox_logo_white_bcg.webp
  sitemap:
    priority: 0.64
  layout: 'base.njk'
---

<main id="omnixBody">
  <!-- Hero -->
  <section id="omnixHero">
    <div class="container">
      <div class="row d-c">
        <div class="col-lg-7">
          <h1 class="brand-nubolts">
            Leveraging
            <span class="gradient-text-01">vehicle analytics</span>
            for your business
          </h1>
          <p>
            Our platform synthesizes the physical interactions of your business and returns real-time insights to boost throughput and revenue.
          </p>
          <a class="btn btn-accent" type="button" href="https://calendly.com/everwash-sales/30min" target="_blank">
            Get A Demo
          </a>
        </div>
        <div class="col-lg-5">
          <img src="../img/Hero_Illustration_Blue.png" alt="omnix vehicle analytics for car washes" class="img-fluid"/>
        </div>
      </div>
    </div>
  </section>

  <!-- omniX Features -->
  <section id="omnixOffers">
    <div class="container text-center">
      <div class="content-box">
        <h3 class="text-center">
          What We
          <span class="gradient-text-01">Offer</span>
        </h3>
        <p class="text-center">
          It’s nearly impossible to get intelligent visibility on a business’s physical interactions. There are no ‘eyes’ on the business to tell us how you are actually doing in a cost effective and efficient way.<br/><br/>
          omniX can be ready in hours to work for you. Increase conversions and revenue, improve the efficiency of your operations, and detect fraud, all without any integration.
        </p>
      </div>
      <div class="row image-box">
        <div class="col-sm-4">
          <div class="icon-container">
            <img src="../img/Offer_Thumb_01.webp" class="img-fluid"/>
          </div>
          <h6>Carwash</h6>
        </div>
        <div class="col-sm-4">
          <div class="icon-container">
            <img src="../img/Offer_Thumb_02.webp" class="img-fluid"/>
          </div>
          <h6>Drive-Thru & QSR</h6>
        </div>
        <div class="col-sm-4">
          <div class="icon-container">
            <img src="../img/Offer_Thumb_04.webp" class="img-fluid"/>
          </div>
          <h6>Other</h6>
        </div>
      </div>
    </div>
  </section>

  <!-- How It Works -->
  <section id="omnixHow">
    <div class="container">
      <h3>
        <span class="gradient-text-01">How</span> It Works
      </h3>
      <p>
        At omniX labs, our platform transforms your existing cameras into a trusted set of eyes and intelligent business advisor.  We securely connect to your cameras, analyze your video streams live, and give you back synthesized analytics and insights via our platform, or if you prefer, our API.
      </p>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="text-center">
            <img src="../img/Vision_2x_edited.webp" alt="omnix camera insights for car washes icon" class="img-fluid"/>
            <h6>Visibility</h6>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="text-center">
            <img src="../img/Analytics_2x_edited.webp" alt="omnix car wash analytics icon" class="img-fluid"/>
            <h6>Analytics</h6>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="text-center">
            <img src="../img/Learning_2x_edited.webp" alt="car wash deep learning icon" class="img-fluid"/>
            <h6>Deep Learning</h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- See omniX in action -->
  <section id="omnixInsights">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h3>See
            <span class="gradient-text-01">Omnix</span> in action
          </h3>
          <p>
            Sign up and schedule a demo.  During this quick session, we will show you the power of omniX and its potential for your business.
          </p>
        </div>
        <div class="col-lg-5">
          <a class="btn btn-accent" type="button" href="https://calendly.com/everwash-sales/30min" target="_blank">
            Get A Demo
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Powered by omniX -->
  <section id="omnixHow">
    <div class="container">
      <h3 class="text-center">Powered by 
        <span class="gradient-text-01">omniX</span>
      </h3>
      <div class="images-group">
        <div class="image-box">
          <img src="../img/01_EverWash_Logo_Blue.webp" class="img-fluid"/>
        </div>
        <div class="image-box">
          <img src="../img/f74964_57d190a3b0674770a6ead585eb21d828~mv2.webp" class="img-fluid"/>
        </div>
        <div class="image-box">
          <img src="../img/SgtCleanLogo_258x150.webp" class="img-fluid"/>
        </div>
        <div class="image-box">  
          <img src="../img/agile.webp" class="img-fluid"/>
        </div>
        <div class="image-box">  
          <img src="../img/81b676_a8a43cd7ef094fbeaa1b22ac829fbd32~mv2.webp" class="img-fluid"/>
        </div>
        <div class="image-box">  
          <img src="../img/81b676_7bebd657c59a44b7adfb574c4ebd14c4~mv2.webp" class="img-fluid"/>
        </div>
        <div class="image-box">  
          <img src="../img/81b676_d8d0f648108142e19f4fb6b7c10955fe~mv2.webp" class="img-fluid"/>
        </div>
        <div class="image-box">  
          <img src="../img/81b676_402e8327ad2e4afeaa1af3e7a95eaed7~mv2.webp" class="img-fluid"/>
        </div>
        <div class="image-box">  
          <img src="../img/81b676_db60db70449b49c1918eb1cc12d45ffd~mv2.webp" class="img-fluid"/>
        </div>
        <div class="image-box">  
          <img src="../img/81b676_1bd27a83ffa7496f9b9ad9f1cc87e017~mv2.webp" class="img-fluid"/>
        </div>  
      </div>
      <div class="row box-shadow">
        <div class="col-lg-6">
          <h6>Investors</h6>
          <img src="../img/WhatsApp Image 2021-05-16 at 19_54_05_jp.webp" class="img-fluid"/>
          <img src="../img/_edited.webp" class="img-fluid"/>
          <img src="../img/nvp_logo.webp" class="img-fluid"/>
        </div>
        <div class="col-lg-6">
          <h6>Partners</h6>
          <img src="../img/googlecloud-partner.webp" class="img-fluid"/>
          <img src="../img/nvidia-png-nvidia-png-image-7322.webp" class="img-fluid"/>
          <img src="../img/81b676_f5cd7063729948e19caf4d9cb9a7202e~mv2.webp" class="img-fluid"/>
        </div>
      </div>
    </div>
    <div id="about-us"></div>
  </section>

  <!-- The team -->
  <section id="omnixInsights">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center team_content">
          <h3>The
            <span class="gradient-text-01">Team</span>
          </h3>
          <p>
            Passionate technologists who believe our solution should reuse the technology you already have, synthesize how your business is doing and doesn’t require an act of congress to pay for it.
          </p>
          <button class="btn btn-accent" type="button" data-toggle="modal" data-target="#omnixModal">
            Join The Team
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- modal popup -->
  <div class="modal fade" id="omnixModal" tabindex="-1" aria-labelledby="Contact Us" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row" id="contactSalesForm">
            <div class="col-lg-5">
              <img src="../img/omniX_logo_white_transparent_EWC.webp" alt="Omnix logo" class="img-fluid"/>
              <h4>Work with us</h4>
              <p>Are you interested in joining one of the most exciting technology frontiers today?  We’d love to see how we can work together, so drop us a line!</p>
              <div>
                <p>
                  <a href="mailto:info@omnixlabs.com" class="fa fa-envelope">info@omnixlabs.com</a>
                </p>
              </div>
            </div>
            <div class="col-lg-7">
              <div id="omnixModalHeader">
                <div class="header-content">
                  <button type="button" class="close d-none d-lg-block" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                      <i class="fa fa-close"></i>
                    </span>
                  </button>
                </div>
              </div>
              <div id="standard-form">
                <form
                  id="omnixFormData"
                  name="OmniX 2024 Form"
                  method="POST"
                  action=""
                  data-form="formData"
                  netlify
                  netlify-honeypot="bot-field">
                  <input type="hidden" name="Subject" data-email-subject="emailSubject" value="OmniX 2024 Form Submission"/>
                  <input type="hidden" name="formName" value="OmniX 2024 Form" aria-hidden="true"/>
                  {% include 'omnix-popup-form.njk' %}
                </form>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Publications -->
  <section id="omnixHow">
    <div class="container publications">
      <h3>
        Publications
      </h3>
      <p class="header-content">
        Where we gather our thoughts and insights about the machine learning industry and beyond.
      </p>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="image-box col_1">
            <img src="../img/Medium_merger.webp" class="img-fluid"/>
            <div class="info-box">
              <h5>EverWash acquires omniX Labs</h5>
              <p>EverWash, the US leader in car wash membership and subscription management, announced that it has acquired omniX Labs, an industry-leading real-time vehicle analytics and Machine Learning (ML) platform.</p>
              <a class="labs" href="https://omnixlabs.medium.com/" target="_blank">omniX labs</a>
              <a class="article_info" href="https://omnixlabs.medium.com/everwash-acquires-omnix-labs-591289db327e" target="_blank">Nov 16 •  2 min read</a>
            </div>  
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="image-box col_2">
            <img src="../img/oil.webp" class="img-fluid"/>
            <div class="info-box">
              <h5>Changing the experience of oil and lube stores</h5>
              <p>Compared to a fast food drive-thru that serve hundreds of customers daily, oil and lube stores are under greater pressure to maximize the quality of each touchpoint.</p>
              <a class="labs" href="https://omnixlabs.medium.com/" target="_blank">omniX labs</a>
              <a class="article_info" href="https://omnixlabs.medium.com/changing-the-experience-of-oil-and-lube-stores-51ada2fb587f" target="_blank">Jun 10  •  3 min read</a>
            </div>  
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="image-box col_1">
            <img src="../img/carwash_line.webp" class="img-fluid"/>
            <div class="info-box">
              <h5>Long lines: a sign of prosperity or cause for concern?</h5>
              <p>Americans spend an aggregated 37 billion hours waiting in line — each year! The queuing experience impacts how prospective customers evaluate a business.</p>
              <a class="labs" href="https://omnixlabs.medium.com/" target="_blank">omniX labs</a>
              <a class="article_info" href="https://omnixlabs.medium.com/long-lines-a-sign-of-prosperity-or-cause-for-concern-5fe55aed85e7" target="_blank">Feb 16  •  4 min read</a>
            </div>  
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="image-box col_2">
            <img src="../img/1_Q_k8qU4BIjmgt0xtnTZJew.webp" class="img-fluid"/>
            <div class="info-box">
              <h5>A smarter approach to operations management</h5>
              <p>With improved technology to capture insights and a seamless way to be notified in real-time, omniX labs is helping to make the science of operations easier to master.</p>
              <a class="labs" href="https://omnixlabs.medium.com/" target="_blank">omniX labs</a>
              <a class="article_info" href="https://omnixlabs.medium.com/a-smarter-approach-to-operations-management-756863d8e64e" target="_blank">Nov 24  •  3 min read</a>
            </div>  
          </div>
        </div>
      </div>
      <div class="read_more_content">
        <img src="../img/Medium_Logo_2x.webp" class="img-fluid"/>
        <span><a href="https://medium.com/@omnixlabs" target="_blank">Read more on Medium...</a></span>
      </div>  
    </div>
  </section>
</main>
