---
  title: Machine Vision. Data. Insights | omniX labs
  description: 
  permalink: "{{ page.filePathStem }}.html"
  image: https://omnix-local.netlify.app/img/ox_logo_white_bcg.webp
  sitemap:
    priority: 0.64
  layout: 'base.njk' 
---

<main id="omnixBody">
  <!-- Home Hero -->
  <section id="leveragingSection">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 img-box">
          <img src="/img/home/home-banner.png" class="img-fluid" />
        </div>
        <div class="col-sm-5 info-box">
          <h3>Leveraging vehicle analytics for your business</h3>
          <h5>Our platform synthesizes the physical interactions of your business and returns real-time insights to boost throughput and revenue.</h5>
          <a href="#" data-toggle="modal" data-target="#contact-omnixModal">Get a Demo</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Home Hero -->
  <section id="leveragingSection">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 img-box">
          <img src="/img/home/home-banner.png" class="img-fluid" />
        </div>
        <div class="col-sm-5 info-box">
          <h3>Leveraging vehicle analytics for your business</h3>
          <h5>Our platform synthesizes the physical interactions of your business and returns real-time insights to boost throughput and revenue.</h5>
          <a href="#" data-toggle="modal" data-target="#contact-omnixModal">Get a Demo</a>
        </div>
      </div>
    </div>
  </section>
  
</main>
