---
  title: Industries | omniX labs
  description: 
  permalink: "{{ page.filePathStem }}.html"
  image: https://omnix-local.netlify.app/img/ox_logo_white_bcg.webp
  sitemap:
    priority: 0.64
  layout: 'base.njk'
---

<main id="omnixBody">
  <!-- Industries powered by omniX -->
  <section id="omnixHow" class="industries-section">
    <div class="container">
      <h3 class="text-center">
        Industries powered by
        <span class="gradient-text-01">omniX </span>
      </h3>
      <div class="row">
        <div class="col-sm-4">
          <div class="img-box">
            <img src="../img/Offer_Thumb_01 (3).webp" class="img-fluid"/>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="content-box">
            <h4>Carwash</h4>
            <p>
              omniX helps carwashes boost membership sales, process more customers and get the most out of your employees.
            </p>  
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="img-box">
            <img src="../img/Offer_Thumb_01 (1).webp" class="img-fluid"/>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="content-box">
            <h4>Oil & Lube</h4>
            <p>
              omniX helps carwashes boost membership sales, process more customers and get the most out of your employees.
            </p>  
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="img-box">
            <img src="../img/Offer_Thumb_01 (2).webp" class="img-fluid"/>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="content-box">
            <h4>Other</h4>
            <p>
              omniX helps carwashes boost membership sales, process more customers and get the most out of your employees.
            </p>  
          </div>
        </div>
      </div>
    </div>
  </section>
</main>