---
  title: Machine Vision. Data. Insights | omniX labs
  description: 
  permalink: "{{ page.filePathStem }}.html"
  image: https://omnix-local.netlify.app/img/ox_logo_white_bcg.webp
  sitemap:
    priority: 0.64
  layout: 'base.njk' 
---

<main id="omnix-industriesBody">
  <!-- Industries Hero Section -->
  <section id="industriessupportedSection">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 img-box">
          <img src="/img/home/home-banner.png" class="img-fluid" />
        </div>
        <div class="col-sm-5 info-box">
          <h3>Industries Supported by omniX</h3>
          <h5>Our platform synthesizes the physical interactions of your business and returns real-time insights to boost throughput and revenue.</h5>
        </div>
      </div>
    </div>
  </section>

  <!-- Industries Black Section -->
  <section id="blackSection">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </section>

  <!-- Industries Main Blocks Section -->
  <section id="industriesmainblocksSection">
    <div class="container">
      <div class="row reverse-row">
        <div class="col-sm-8">
          <div class="info-box">
            <h4>Oil & Lube</h4>
            <hr>
            <p>
              Discover technology that not only supports your Oil Change location but transforms it, making your business more responsive, efficient, and profitable.
            </p>
            <a href="/oil-lube.html">Learn More</a>  
          </div>
        </div>
        <div class="col-sm-4">
          <div class="img-box">
            <img src="/img/industries/oil-lube.png" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="img-box">
            <img src="/img/industries/car-wash.png" class="img-fluid" />
          </div>
        </div>
        <div class="col-sm-8">
          <div class="info-box">
            <h4>Car Wash</h4>
            <hr>
            <p>
              Grow wash revenues, streamline operations, and increase the value of your business with our patented AI-driven technology.
            </p>
            <a href="/car-wash.html">Learn More</a>
          </div>
        </div>
      </div>
      <div class="row reverse-row">
        <div class="col-sm-8">
          <div class="info-box">
            <h4>Other</h4>
            <hr>
            <p>
              omniX helps businesses boost sales, process more customers, and get the most out of their employees.
            </p>
            <a href="#" data-toggle="modal" data-target="#contact-omnixModal">Learn More</a>  
          </div>
        </div>
        <div class="col-sm-4">
          <div class="img-box">
            <img src="/img/industries/other.png" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>  
  </section>
</main>
