---
  title: Oil Lube | omniX labs
  description: 
  permalink: "{{ page.filePathStem }}.html"
  image: https://omnix-local.netlify.app/img/ox_logo_white_bcg.webp
  sitemap:
    priority: 0.64
  layout: 'base.njk'
---

<main id="omnix-oilBody">
  <!-- Video Section -->
  <section id="oilvideoSection">
    <img src="../img/oil-lube/oil-banner.png" class="img-fluid"/>
  </section>

  <!-- Delivering Al-Powered Solutions Section -->
  <section id="oilsolutionsSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 img-box">
          <img src="../img/oil-lube/oil-solutions.png" class="img-fluid"/>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 info-box">
          <h3>Understanding Your Challenges, Delivering AI-Powered Solutions</h3>
          <p>At omniX Labs, we know that running an oil change and car care service business comes with its unique set of challenges. That's why we've developed technology to not just support your operations but to transform them, making your business more responsive, efficient, and profitable.</p>
        </div>
      </div>
    </div>
  </section>
</main>