---
  title: Oil Change | omniX labs
  description: 
  permalink: "{{ page.filePathStem }}.html"
  image: https://omnix-local.netlify.app/img/ox_logo_white_bcg.webp
  sitemap:
    priority: 0.64
  layout: 'base.njk'
---

<main id="omnixBody">
  <!-- Video Section -->
  <section id="oilVideo">
    <img src="../img/oil-lube/oil-banner.png" class="img-fluid"/>
  </section>
</main>