---
  title: Privacy | omniX labs
  description: 
  permalink: "{{ page.filePathStem }}.html"
  image: https://omnix-local.netlify.app/img/ox_logo_white_bcg.webp
  sitemap:
    priority: 0.64
  layout: 'base.njk'
---

<main id="omnixBody">
  <!-- Privacy & Security -->
  <section id="omnixOffers" class="privacy-security">
    <div class="container text-center">
      <div class="content-box">
        <h3 class="text-center">
          Privacy &
          <span class="gradient-text-01">Security</span>
        </h3>
        <p class="text-center">
          omniX labs know this is an important subject and we take it seriously. On both our website and machine learning platform, we only keep information you choose to give us and the information we need to make your experience better and richer.<br/><br/>
          We give you control over the information you choose to disclose, and you can, at any given time, delete it or change it. All the data we have, we keep private, encrypted, and secure on our certified cloud servers. We follow the laws of all countries where we operate and follow GDPR requirements.
        </p>
        <h5 style="line-height: 1.35em; margin-top: 30px; margin-bottom: 30px;">We do not and will not sell your data, individually or in aggregated form. We do not store or have any facial recognition capabilities.</h5>
      </div>
      <div class="row image-box">
        <div class="col-sm-4">
          <div class="icon-container privacy-security">
            <img src="/img/Secure Infrastructure_2x.webp" class="img-fluid"/>
            <h5>Secure infrastructure</h5>
            <p>We live on Amazon's AWS and Google Cloud Platforms. These have some of the highest standards when it comes to performance, security and data protection.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="icon-container">
            <img src="/img/Feature Recognition_2x.webp" class="img-fluid"/>
            <h5>Feature Recognition</h5>
            <p>We don’t offer facial recognition, omniX detects features and attributes only of vehicles and people.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="icon-container">
            <img src="/img/Data not stored_2x.webp" class="img-fluid"/>
            <h5>Data Not Stored</h5>
            <p>We don’t store any of your video data. The machine learning inferences and analytics is shared only with our clients.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- How It Works -->
  <section id="omnixHow" class="privacy-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="text-center">
            <img src="/img/GDPR.webp" alt="omnix camera insights for car washes icon" class="img-fluid"/>
            <h6>GDPR Compliance</h6>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="text-center">
            <img src="/img/Data-security_2x.webp" alt="omnix car wash analytics icon" class="img-fluid"/>
            <h6>Data Security</h6>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="text-center">
            <img src="/img/Standards-compliant_2x.webp" alt="car wash deep learning icon" class="img-fluid"/>
            <h6>Standards Compliant</h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FAQ -->
  <section id="partnerFaq">
    <div class="container">
      <h3>Frequently asked
        <span class="gradient-text-01">questions</span>
      </h3>
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <!-- Accordion -->
          <div id="faq" class="accordion">
            <!-- Accordion item 1 -->
            <div class="card">
              <div
                id="headingOne"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                    class="collapsible-link py-2">
                      What Type of Data Do We Collect on Our Machine Learning Platform
                  </a>
                </h6>
              </div>
              <div
                id="collapseOne"
                aria-labelledby="headingOne"
                data-parent="#faq"
                class="collapse"
              >
                <div class="card-body p-5">
                  <p class="m-0">
                    Our machine learning platform is connected to cameras that businesses have in plain sight, such as retail environments, showrooms, financial institutions, etc.  omniX uses the video footage to learn customers behavior and aims to enrich customer experiences with a particular brand.<br>
                    We do not offer nor have facial recognition capabilities. Our software detects vehicles and their attributes, gender, age and sentiments of people as well as object shapes and colors.<br>
                    We do not store any of the video data and we only use the meta data for learning, notifications, and analytics.<br>
                    Any personal data that may be retained or used in the future will be in anonymized form without any means to revert it into identifiable data.  All stored data will be encrypted.
                  </p>
                </div>
              </div>
            </div>

            <!-- Accordion item 2 -->
            <div class="card">
              <div
                id="headingTwo"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                    class="collapsed collapsible-link py-2">
                      How Do We Use Your Personal Information?
                  </a>
                </h6>
              </div>
              <div
                id="collapseTwo"
                aria-labelledby="headingTwo"
                data-parent="#faq"
                class="collapse"
              >
                <div class="card-body p-5">
                  <p class="m-0">
                    <strong>We use your personal information to:</strong>
                  </p>
                  <ul>
                    <li>Operate, maintain, and improve our sites, products, and services.</li>
                    <li>Respond to comments and questions and provide customer service.</li>
                    <li>Send information including confirmations, invoices, technical notices, updates, security alerts, and support and administrative messages.</li>
                    <li>Communicate promotions, upcoming events, and other news about products and services offered by us and our selected partners.</li>
                    <li>Link or combine user information with other personal information.</li>
                    <li>Protect, investigate, and deter against fraudulent, unauthorized, or illegal activity.</li>
                    <li>Ensure that companies that use our services can provide and deliver products and services that you have requested from those companies.</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Accordion item 3 -->
            <div class="card">
              <div
                id="headingThree"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="
                collapseThree"
              >
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                    class="collapsed collapsible-link py-2">
                      How Might We Share Your Personal Information?
                  </a>
                </h6>
              </div>
              <div
                id="collapseThree"
                aria-labelledby="headingThree"
                data-parent="#faq"
                class="collapse"
              >
                <div class="card-body p-5">
                  <p class="m-0">
                    We may share personal information as follows:
                  </p>
                  <ul>
                    <li>We do not offer for sale or use by third-parties personally identifiable information we collect from you, unless you have consented as part of your relationship with that third-party.  For example, if you agree to have your usage of a parking facility billed based on a reading of your vehicle’s license plate (also referred to as a tag), we will transmit the information necessary for that service to be provided to you.</li>
                    <li>When we compile personal information that is, or is potentially, identifiable on behalf of or to be used by others when you have not provided consent, it is aggregated into anonymous formats so that you cannot be identified.</li>
                    <li>We only retain personally identifiable information for as long as necessary to accomplish the purposes for which it was complied.</li>
                    <li>We may share personal information for legal, protection, and safety purposes as follows:
                      <ul>
                        <li>to comply with laws.</li>
                        <li>to respond to lawful requests and legal processes.</li>
                        <li>to protect the rights and property of omniX labs, Inc., our agents, customers, and others. This includes enforcing our agreements, policies, and terms of use.</li>
                        <li>In an emergency. This includes protecting the safety of our employees and agents, our customers, or any person.</li>
                      </ul>
                    </li>
                    <li>We may share information with those who need it to do work for us.</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Accordion item 4 -->
            <div class="card">
              <div
                id="headingFour"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseFour"
                aria-expanded="false"
                aria-controls="
                collapseFour"
              >
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                    class="collapsed collapsible-link py-2">
                      How Do We Get Information About You?
                  </a>
                </h6>
              </div>
              <div
                id="collapseFour"
                aria-labelledby="headingFour"
                data-parent="#faq"
                class="collapse"
              >
                <div class="card-body p-5">
                  <p class="m-0">
                    <strong>Information You Give Us.</strong>
                    We collect your name, postal address, email address, phone number, fax number, username, password, demographic information (such as your gender and occupation) as well as other information you may directly give us on our Site.
                  </p>
                  <p class="m-0">
                    <strong>Information We Get From Others.</strong>
                    We may get information about you from other publicly available sources, such as databases that members of the public can access.
                  </p>
                  <p class="m-0">
                    <strong>Information Automatically Collected.</strong>
                    We automatically log information about you and your computer when visiting our Site, such as your computer operating system type, browser type, browser language, pages you viewed, access times and information about your use of and actions on our Site.
                  </p>
                  <p class="m-0">
                    <strong>Cookies.</strong>
                    We may log information using "cookies." Cookies are small data files stored on your hard drive by a website. We may use both session Cookies (which expire once you close your web browser) and persistent Cookies (which stay on your computer until you delete them) to provide you with a more personal and interactive experience on our Site.    This type of information is collected to make the Site more useful to you and to tailor the experience with us to meet your special interests and needs.
                  </p>
                </div>
              </div>
            </div>

            <!-- Accordion item 5 -->
            <div class="card">
              <div
                id="headingFive"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseFive"
                    aria-expanded="false"
                    aria-controls="collapseFive"
                    class="collapsed collapsible-link py-2">
                      What Choices Do I Have and What Changes Can I Make?
                  </a>
                </h6>
              </div>
              <div
                id="collapseFive"
                aria-labelledby="headingFive"
                data-parent="#faq"
                class="collapse"
              >
                <div class="card-body p-5">
                  <p class="m-0">
                    Our marketing emails tell you how to “opt-out.” If you opt out, we may still send you non-marketing emails. Non-marketing emails include emails about your accounts and our business dealings with you.
                  </p>
                  <p class="m-0">
                    You may send requests about personal information to our Contact Information below. You can request to change contact choices, opt-out of our sharing with others, and update your personal information.
                  </p>
                  <p class="m-0">
                    You can typically remove and reject cookies from our Site with your browser settings. Many browsers are set to accept cookies until you change your settings. If you remove or reject our cookies, it could affect how our Site works for you
                  </p>
                  <p class="m-0">
                    For any enquiry: info@omnixlabs.com
                  </p>
                </div>
              </div>
            </div>

            <!-- Accordion item 6 -->
            <div class="card">
              <div
                id="headingSix"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseSix"
                    aria-expanded="false"
                    aria-controls="collapseSix"
                    class="collapsed collapsible-link py-2">
                      How We Manage Your Customer Data?
                  </a>
                </h6>
              </div>
              <div
                id="collapseSix"
                aria-labelledby="headingSix"
                data-parent="#faq"
                class="collapse"
              >
                <div class="card-body p-5">
                  <p class="m-0">
                    At ominX we respect your privacy rights and we comply with all applicable data privacy laws and regulations, including the newly implemented General Data Protection Regulation promulgated by the European Union.<br> 
                    One of our fundamental principles is that will not retain any personal data for any longer than necessary and we will not use it for purposes other than what it was originally intended for and for which we have obtained the explicit rights to use.<br>
                    When certain services to a customer requires the use identifiable personal information, omniX will require that express prior consent will be obtained from each personal data subject and that such consent may be withdrawn at any time.  The processing will be limited to the authorized purposes.  That information will be retained in such form for only the minimum time period necessary to provide the services to omniX’s customer. 
                  </p>
                </div>
              </div>
            </div>

            <!-- Accordion item 7 -->
            <div class="card">
              <div
                id="headingSeven"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseSeven"
                aria-expanded="false"
                aria-controls="collapseSeven"
              >
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseSeven"
                    aria-expanded="false"
                    aria-controls="collapseSeven"
                    class="collapsed collapsible-link py-2">
                      How We Will Keep You Informed
                  </a>
                </h6>
              </div>
              <div
                id="collapseSeven"
                aria-labelledby="headingSeven"
                data-parent="#faq"
                class="collapse"
              >
                <div class="card-body p-5">
                  <p class="m-0">
                    omniX’s business is evolving, and we are not in a position to know today all of the various types of personal data that we may possess or require in the future. But we will keep refreshing our policy, always keeping you up to date. We also commit to have ongoing processes to identify the nature and sensitivity of personal data that will come into our possession and develop appropriate levels of security and protocols for processing, storing and disposing of such data.
                  </p>
                </div>
              </div>
            </div>

            <!-- Accordion item 8 -->
            <div class="card">
              <div
                id="headingEight"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseEight"
                aria-expanded="false"
                aria-controls="collapseEight"
              >
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseEight"
                    aria-expanded="false"
                    aria-controls="collapseEight"
                    class="collapsed collapsible-link py-2">
                      Website Terms Of Use
                  </a>
                </h6>
              </div>
              <div
                id="collapseEight"
                aria-labelledby="headingEight"
                data-parent="#faq"
                class="collapse"
              >
                <div class="card-body p-5">
                  <p class="m-0">
                    These Terms of Use govern and define your use of this website and any applications downloaded via the Website (including any omniX-demonstration application) (the “Website”) of Tagxlabs, Inc. doing business as omniX labs (“omniX”).  The create legally enforceable rights and obligations between omniX and You.  By using this Website you are accepting and agreeing to all of these Terms of Use.
                  </p>
                  <p class="m-0">
                    <strong>What if I Do Not Agree With These Terms of Use?</strong>
                    Sorry, but if you do not agree to any aspect of these Terms of Use, you are not allowed to use this Website.
                  </p>
                  <p class="m-0">
                    <strong>Can these Terms of Use Change?</strong>
                    Yes, they can.  omniX may revise and update these Terms of Use at any time.  If you continue to use the Website after any of the Terms of Use are changed, you will be accepting and agree to those changes.  So you need to check this page on a regular basis to determine that you are in compliance with the current version of these Terms of Use.
                  </p>
                  <p class="m-0">
                    <strong>What About Changes to the Website?</strong>
                    Any aspect of the Website may be changed, supplemented, deleted or updated at any time without notice at the sole discretion of omniX.  omniX may also change or impose fees for products and services provided through the Website at any time, even there had been no charge in the past, in its sole discretion.  omniX may establish or change, at any time, general practices and limits concerning other omniX products and services in its sole discretion.
                  </p>
                  <p class="m-0">
                    <strong>Who Can Use This Website?</strong>
                    Only those entities, and persons over the age of legal majority who can form legally binding contracts/agreements under the law that applies to those entities and persons.  If you do not satisfy those requirements, you are not permitted to use the Website.
                  </p>
                  <p class="m-0">
                    <strong>Does the omniX Website Use Cookies?</strong>
                    Yes, this Website uses cookies. By using this Website you also accept and agree to omniX’s use of cookies as described in omniX’s privacy policy, which may be revised and amended from time to time. That privacy policy is incorporated by reference, which means it is part of these Terms of Use. The omniX privacy policy is available at: ...
                  </p>
                  <p class="m-0">
                    <strong>What Rights Do I have to Use and Copy the Website and Its Content?</strong>
                    You only have the rights that are expressly granted to you by omniX.  The Website and all the trade marks, copyright, database rights and other intellectual property rights related to it are the sole and exclusive property of omniX and its licensors, unless we indicate otherwise as to specific matters or items.
                  </p>
                  <p class="m-0">
                    <strong>What Right to Use this Website is omniX Granting Me?</strong>
                    You may view, download for caching purposes only, and print pages from the Website only for your own internal purposes, subject to the conditions and restrictions set out in these Terms of Use. 
                  </p>
                  <p class="m-0">
                    <strong>You must not:</strong>
                    sell, rent or sub-license material from the Website;<br>
                    show any material from the Website in public;<br>
                    reproduce, duplicate, copy or otherwise exploit material on this Website for a commercial purpose;<br>
                    redistribute material from this Website, only in a manner allowed by omniX;<br>
                    disguise the origin of information transmitted through the Website;<br>
                    place false or misleading information on the Website;<br>
                    use or access any service, information, application or software available via the Website in a manner not expressly permitted by omniX;<br>
                    input or upload to the Website any information which contains viruses, Trojan horses, worms, time bombs or other computer programming routines that are intended to damage, interfere with, intercept or expropriate any system, the Website or Information that infringes the Intellectual Property (defined below) rights of another;<br>
                    use or access the Website or the omniX Systems or Services in any way that, in omniX's judgment, adversely affects the performance or function of the omniX Systems, Services or the Website or interferes with the ability of authorized parties to access the omniX Systems, Services or the Website;<br>
                    use this Website in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity;<br>
                    frame or utilize framing techniques to enclose any portion or aspect of the material or the information, without the express written consent of omniX;<br>
                    conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this Website;<br>
                    use this Website to transmit or send unsolicited commercial communications<br>
                    use this Website for any marketing related purposes without omniX’s prior express written consent;<br>
                    attempt to extract the source code from the Website; or,<br>
                    translate into other languages or make derivative versions of the Website.
                  </p>
                  <p class="m-0">
                    <strong>Are there Restrictions on My Access to the Website?</strong>
                    Yes there are restrictions and limitations.  Certain areas of this Website are restricted to authorized customers of omniX.  You are not allowed to access those restricted areas unless you are an authorized omniX customer and complying with omniX’s agreement with you giving access  to use the areas of the Website that are not accessible by a non-customer.
                  </p>
                  <p class="m-0">
                    <strong>Are there Restrictions on My Access to the Website?</strong>
                    Yes there are restrictions and limitations.  Certain areas of this Website are restricted to authorized customers of omniX.  You are not allowed to access those restricted areas unless you are an authorized omniX customer and complying with omniX’s agreement with you giving access  to use the areas of the Website that are not accessible by a non-customer.
                  </p>
                  <p class="m-0">
                    <strong>What if I am an omniX Customer?</strong>
                    omniX issues customers user ID’s and passwords so they can access restricted areas of this Website or other content or services.  You must keep those user ID’s and passwords confidential. You will not give or share your user ID or password with anyone else, unless you are a business entity that entered into an agreement with omniX allowing multiple employees to use restricted areas of the Website. 
                  </p>
                  <p class="m-0">
                    <strong>What if I am a Customer Receiving Free Services from the Website?</strong>
                    If you are an omniX customer receiving free services, where omniX issued a user ID and password not governed by other terms and conditions specifically for those services, omniX may disable your user ID and password  at any time in omniX’ sole discretion.
                  </p>
                  <p class="m-0">
                    <strong>What if I am Using an omniX Mobile Application?</strong>
                    If you are using an omniX mobile application (the “Mobile App.”) there are specific terms and conditions and additional things for which you are responsible.  You need to keep secure your phone and access to any Mobile App.  omniX therefore recommends that you do not jailbreak or root your phone, which is the process of removing software restrictions and limitations imposed by the official operating system of your device.  It could make your phone vulnerable to malware/viruses/malicious programs, compromise your phone’s security features and it could mean that the Mobile App. will not work properly or at all.
                    <br><br>  
                    You should be aware that there are certain things that omniX will not take responsibility for. Certain functions of the Mobile App. will require the app to have an active internet connection. The connection can be Wi-Fi or provided by your mobile network provider, but omniX cannot take responsibility for the Mobile App. not working properly if you don’t have access to Wi-Fi and you do not have any of your data allowance left.
                    <br><br> 
                    If you are using the Mobile App. outside of an area with Wi-Fi, your terms of the agreement with your mobile network provider will apply. As a result, you may be charged by your mobile provider for the cost of data for the duration of the connection while accessing the Mobile App. or other third party charges. In using the Mobile App., you are accepting responsibility for any such charges, including roaming data charges if you use the Mobile App. outside of your home territory (i.e. region or country) without turning off data roaming. If you are not the bill payer for the device on which you are using the Mobile App., please be aware that we assume that you have received permission from the bill payer for using the Mobile App.
                    <br><br> 
                    omniX cannot take responsibility for the way you use the Mobile App., e.g., you need to make sure that your device stays charged.
                    <br><br> 
                    With respect to omniX’s responsibility for your use of the Mobile App., when you are using the Mobile App., it is important that although we endeavour to ensure that it is updated, we do rely on third parties to provide information to us so that we can make it available to you. omniX accepts no liability for any loss, direct or indirect, you experience as a result of relying wholly on this functionality of the Mobile App.
                    <br><br> 
                    omniX may update the Mobile App.  The Mobile App. is currently available on Android and iOS – the requirements for both systems (and for any additional systems to which omniX decides to extend the availability of the Mobile App.) may change, and you will need to download the updates if you want to keep using the Mobile App.  omniX does not promise that it will always update the Mobile App. so that it is relevant to you and/or works with the iOS/Android version that you have installed on your device. However, you must always accept updates to the application when offered to you, omniX may also wish to stop providing the Mobile App. and may terminate use of it at any time without giving notice of termination to you. Unless omniX tells you otherwise, upon any termination, (a) the rights and licenses granted to you in these terms will end; (b) you must stop using the Mobile App. and delete it from your device.
                  </p>
                  <p class="m-0">
                    <strong>What if I Input Information into the Website?</strong>
                    If you input information into the Website, you must agree to all onmiX terms to use that information.  In particular, you grant omniX  a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate, manipulate and distribute the information that you submit, select or input (“Inputted Information”) to this Website.
                    <br><br> 
                    Inputted Information, to the best of your knowledge must be truthful, accurate and correct.  The submission of Inputted Information must not be illegal or unlawful, and must not infringe any third party's legal rights.
                    <br><br> 
                    OTHER IMPORTANT THINGS IN THESE TERMS OF USE YOU NEED TO KNOW:
                    <br><br> 
                    No Warrantie
                    <br><br> 
                    omniX MAKES NO REPRESENTATIONS ABOUT THE RESULTS TO BE OBTAINED FROM USING THE WEBSITE, THE omniX SYSTEMS, THE SERVICES, THE INFORMATION OR THE CONTENT.  THE USE OF SAME IS AT YOUR OWN RISK.
                    <br><br> 
                    THE WEBSITE, THE omniX SYSTEMS, THE INFORMATION, THE SERVICES AND THE CONTENT ARE PROVIDED ON AN "AS IS" BASIS.  omniX, ITS LICENSORS, AND ITS SUPPLIERS, TO THE FULLEST EXTENT PERMITTED BY LAW, DISCLAIM ALL WARRANTIES, EITHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTIES' RIGHTS, AND FITNESS FOR A PARTICULAR PURPOSE.  omniX AND ITS AFFILIATES, LICENSORS AND SUPPLIERS MAKE NO REPRESENTATIONS OR WARRANTIES ABOUT THE ACCURACY, COMPLETENESS, SECURITY OR TIMELINESS OF THE CONTENT, INFORMATION OR SERVICES PROVIDED ON OR THROUGH THE USE OF THE WEBSITE OR THE omniX SYSTEMS.  NO INFORMATION OBTAINED BY YOU FROM THE WEBSITE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED BY omniX IN THESE TERMS OF USE.
                    <br><br> 
                    Without prejudice to the generality of the foregoing paragraph, omniX does not warrant that:
                    <br><br> 
                    this website will be constantly available, or available at all; or
                    <br> 
                    the information on this website is complete, true, accurate or non-misleading.
                    <br><br> 
                    Nothing on this website constitutes, or is meant to constitute, advice of any kind. 
                    <br><br> 
                    SOME JURISDICTIONS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTY, SO THE LIMITATIONS AND EXCLUSIONS IN THIS SECTION MAY NOT APPLY TO YOU.   YOU AGREE AND ACKNOWLEDGE THAT THE LIMITATIONS AND EXCLUSIONS OF LIABILITY AND WARRANTY PROVIDED IN THESE TERMS OF USE ARE FAIR AND REASONABLE.
                    <br><br> 
                    Limitations of Liability
                    <br><br> 
                    TO THE EXTENT PERMITTED BY APPLICABLE LAW omniX, AND ITS EMPLOYEES, OWNERS, AGENTS, AFFILIATES, LICENSORS, OR SUPPLIERS will not be liable to you (whether under the law of contRact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website, WHETHER OR NOT omniX IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES:
                    <br><br> 
                    for any direct loss THAT IS BASED ON OR RELATED IN ANY WAY TO WEBSITE AREAS AND SERVICES PROVIDED WITHOUT A CHARGE OR FEE;
                    <br>
                    for any indirect, special or consequential loss; or
                    <br>
                    for any business INTERUPPTION; loss of revenue, income, OR profits; loss of reputation or goodwill; LOSS OF anticipated BUSINESS RELATIONSHIPS, CUSTOMERS, or loss or corruption of information or data.
                    <br><br> 
                    TO THE EXTENT PERMITTED BY LAW, THE REMEDIES STATED FOR YOU IN THESE TERMS OF USE ARE EXCLUSIVE AND ARE LIMITED TO THOSE EXPRESSLY PROVIDED FOR IN THESE TERMS OF USE. 
                    <br><br> 
                    Unenforceable Provisions
                    <br><br> 
                    If any provision of this Website Disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this Website Disclaimer.
                    <br><br> 
                    Indemnity
                    <br><br> 
                    You hereby agree to indemnify and hold omniX and its employees, owners, agents, affiliates, licensors, and suppliers harmless from and against any and all losses, damages, costs, liabilities and expenses (including without limitation legal fees and costs paid by any indemnified party or their respective insurers  to a third party in settlement of a claim or dispute incurred or suffered or arising out of any breach by you of any provision of these Terms of Use, or any claim that you have breached any provision of these Terms of Use.
                    <br><br> 
                    Breaches
                    <br><br> 
                    If you breach these Terms of Use in any way, omniX may take any such action it deems appropriate, including suspending your access to the Website, prohibiting you from accessing the Website, blocking computers using your IP address from accessing the Website, contacting your internet service provider to request that they block your access to the Website.
                    <br><br> 
                    Assignment
                    <br><br> 
                    omniX may transfer, assign or subcontract omniX’S rights and/or obligations under these Terms of Use without your consent.
                    <br><br>
                    You may not transfer, assign or subcontract your rights and/or obligations under these Terms of Use. 
                    <br><br>
                    Severability
                    <br><br>
                    If a provision or part thereof, of these Terms of Use is determined by any court to be unlawful or unenforceable, the other provisions will continue in full force and effect.  
                    <br><br>
                    Entire Agreement
                    <br><br>
                    These Terms of Use constitute the entire agreement governing your use of the Website, unless supplemented or superseded by a specific agreement governing use between you and omniX.
                    <br><br>
                    Law and Jurisdiction
                    <br><br>
                    To the fullest extent permitted by law, these Terms of Use are governed by the internal substantive laws of the State of New York, U.S.A. You and omniX agree that (i) the United Nations Convention on Contracts for the International Sale of Goods; (ii) the 1974 Convention on the Limitation Period in the International Sale of Goods; and (iii) the Protocol amending the 1974 Convention, done at Vienna April 11, 1980; shall not apply to the relationship between you and omniX or to your use of the Website.  To the fullest extent permitted by law, the controlling language for these Terms of Use is English. 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>